<app-header titulo="Grid Row"></app-header>

<ion-content padding fullscreen>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
              *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1];">
        <ion-card>
          <ion-img src="assets/shapes.svg"></ion-img>

          <ion-card-header>
            <ion-card-subtitle>Card-Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti laudantium libero hic animi, repellendus quaerat doloribus praesentium perferendis architecto adipisci at illum eum aspernatur modi illo? Sapiente sint reiciendis facere?
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
